        <div class="card hvr-box-shadow-outset hvr-grow">
            <div class="card-header">
                Weather
            </div>
            <div class="card-block">
                <div class="card-title">
                    Weather today
                </div>
                <div class="card-text">
                   Card text
                </div>
            </div>
            <div class="card-footer">
                <a>powered by openweathermap.com</a>
            </div>
        </div>