<div class="row">
    <div class="col-xs-12 col-md-8 col-lg-6 col-xl-6">
        <card-recent></card-recent>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-6 col-xl-6">
        <com-weather></com-weather>
    </div>
</div>