<clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo hvr-pulse-grow"></span>
        <span class="title">Illustrious</span>
      </a>
    </div>
    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Search for Something...">
      </label>
    </form>
    <div class="header-actions">
        <a class="nav-link nav-icon" href="#" [routerLink]="['/settings']">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
  </clr-header>