<clr-alert [clrAlertType]="'alert-danger'" [clrAlertAppLevel]="true" [clrAlertClosable]="false" [(clrAlertClosed)]="connected">
    <div class="alert-item">
        <div class="alert-text">
            Not connected to the internet   connecting...
        </div>
        <div class="alert-actions">
            <div class="spinner spinner-inline"></div>
        </div>
    </div>  
  </clr-alert>