<clr-main-container>
  <alert-bar></alert-bar>
  <com-header></com-header>

    <nav class="sub-nav" [clr-nav-level]="1">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/home']"
            [class.active]="router.url==='/home' || router.url==='/'">Home</a>
        </li>
      </ul>
    </nav>
    
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
