        <div class="card hvr-box-shadow-outset hvr-grow">
            <div class="card-header">
                Recent Flight
            </div>
            <div class="card-block">
                <div class="card-title">
                    Recent Take offs
                </div>
                <div class="card-text">
                    <clr-datagrid>
                        <clr-dg-column [clrDgField]="'id'">Name</clr-dg-column>
                        <clr-dg-column [clrDgField]="'name'">Plane</clr-dg-column>
                        <clr-dg-column [clrDgField]="'creation'">Takeoff</clr-dg-column>
                        <clr-dg-column [clrDgField]="'landing'">Landing</clr-dg-column>
                        
                        <clr-dg-placeholder>No flights yet today!</clr-dg-placeholder>

                        <!--clrDgItems is a substitute for ngfo. clrDgItems adds more features therefore a extension.-->
                        <clr-dg-row *clrDgItems="let flight of flights">
                            <clr-dg-cell>{{flight.id}}</clr-dg-cell>
                            <clr-dg-cell>{{flight.name}}</clr-dg-cell>
                            <clr-dg-cell>{{flight.creation | date}}</clr-dg-cell>
                            <clr-dg-cell>{{flight.landing | date}}</clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
                            <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link" (click)="OpenModal()">Add new flight</button>
                <!--<button class="btn btn-sm btn-link"></button>-->
            </div>
        </div>

        <clr-modal [(clrModalOpen)]="modalopen" [clrModalSize]="'xl'" [clrModalClosable]="true" [clrModalStaticBackdrop]="true">
            <h3 class="modal-title">AddFlight</h3>
            <div class="modal-body">
                <p>INSERT modal component here </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" (click)="CloseModal()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="CloseModal()">Add</button>
            </div>
        </clr-modal>